<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to SchoolFind, <%= @school.school_name %></h1>
    <p>
      You have successfully Been Approved,
      your Token is: <%= @school.token %>.<br>
    </p>
    <p>
      Please Keep This Token in a safe Place and don't share it with anyone .
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>