<!DOCTYPE html>
<html>
<head>
	<title>school added</title>
	<style type="text/css">
		body {
  padding: 1em;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #b9b9b9;
  background-color: #f5f5f5;
}
.container {
  max-width: 38em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #fff;
  border-radius: 4.2px;

}
	</style>
</head>
<body>
<div class="container">
Your School was successfully created. You will receive a confirmation message with subscription details. Thanks! :)
</div>
</body>
</html>